<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="../../vendor/autoload.php">
    <testsuites>
        <testsuite name="FA Module Tests">
            <directory suffix="Test.php">tests/Views</directory>
        </testsuite>
    </testsuites>
</phpunit>
